/* Empty. Add your own CSS if you like */
ion-scroll {
    overflow:scroll;
    white-space:nowrap;
}

canvas {
    display:block;
}

.button-container {
    position: fixed;
    right: -40px;
    width: 30px;
    bottom: 50px;
    animation-name: show;
    animation-duration: 4s;
    animation-direction: reverse;
    animation-timing-function: ease;
}

.button-container.active {
    position: fixed;
    right: 40px;
    width: 30px;
    bottom: 50px;
    animation-name: show;
    animation-duration: 4s;
    animation-timing-function: ease;
}

@keyframes show {
    0%   {right:-40px;}
    25%  {right:-20px;}
    50%  {right:0px;}
    75%  {right:20px;}
    100% {right:40px;}
}

.button-container > .button {
    border-radius: 50%;
    background-color:white;
    margin: 5px;
    text-align:center;
    vertical-align:middle;
    line-height:20px;
    box-shadow: gray 0 1px 0;
    padding: 5px;
    z-index: 20;
}
.button-container > .button > .icon {
    color: black;
}
.button-container > .button > .icon:before {
    font-size:16px;
}